<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it_zoo.kostya05983.auto_aliance">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.CitiesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.RentCarActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.AutoPartsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LeaseAutoActivityWithoutDriver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BuyYourAutoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.FranchisingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.LeaseAutoActivityWithDriver"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.ChooseLeaseAutoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>